@use './mixins' as *;

h1 {
	font-weight: bold;
	font-size: 3rem;
}

h2 {
	font-weight: bold;
	font-size: 2rem;

	@include mobile {
		font-size: 0.875rem;
	}
}

h3 {
	font-weight: bold;
	font-size: 1.5rem;
}

.book-status {
	font-size: 1rem;

	@include mobile {
		font-size: 0.8rem;
	}
}

hr {
	color: var(--outline-v);
}

.is-loading {
	p,
	h1,
	h2,
	h3,
	button,
	[class^='cover-'],
	.rounded-md {
		position: relative;
		background-color: var(--loading-bg);
		color: transparent !important;
		border-color: transparent !important;
		border: none;
		overflow: hidden;
		pointer-events: none;
		user-select: none;
		border-radius: var(--border-radius);
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transform: translateX(-100%);
			background-image: var(--loading-gradient);
			animation: shimmer 2s infinite;
		}
	}

	p:empty::before {
		content: '\00a0';
	}
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}
