.fade-down-enter-active,
.fade-down-leave-active {
	transition:
		opacity 0.1s ease-in-out,
		transform 0.1s ease-in-out;
}

.fade-down-enter-from,
.fade-down-leave-to {
	opacity: 0;
}

.fade-down-enter-active,
.fade-down-leave-active {
	transition:
		opacity 0.1s ease-in-out,
		transform 0.1s ease-in-out;
}

.fade-down-enter-from,
.fade-down-leave-to {
	transform: translateY(-10%);
}
