node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.nuxt
.output
.nitro
.cache
.data
dist

.env
.env.*
!.env.example

logs
*.log
npm-debug.log*

.git
.gitignore
.dockerignore
.DS_Store
Thumbs.db

.vscode
.idea
*.suo
*.ntvs*
*.njsproj