.chip {
	color: var(--outline);
	border-radius: 100px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--outline);

	&.active {
		background-color: var(--primary-container);
		color: var(--on-primary-container);
	}
}
