@use '../mixins' as *;

$radius-medium: 12px;
$radius-large: 16px;

@mixin m3-cover-base($radius: $radius-medium) {
	aspect-ratio: 2 / 3;
	border-radius: $radius;
	background-color: var(--outline);
	flex-shrink: 0;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: inherit;
	}
}

.cover-xs {
	width: 56px;
	@include m3-cover-base();
}

.cover-md {
	width: 96px;
	@include m3-cover-base();
}

.cover-xl {
	width: 156px;
	@include m3-cover-base();
}

.cover-2xl {
	width: 256px;
	@include m3-cover-base($radius-large);
}

.cover-3xl {
	width: 512px;
	@include m3-cover-base($radius-large);
}

.cover-auto {
	width: 156px;
	@include m3-cover-base();

	@include mobile {
		width: 116px;
	}
}

.cover-big {
	width: clamp(156px, 20vw, 256px);
	@include m3-cover-base($radius-large);
}
